{% capture site_cats %}{% for cat in site.categories %}{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign cats_list = site_cats | split:',' | sort %}

<div class="header-menu header-menu-top">
    <ul class="header-item-container"  style="position: relative;right: 150px">
      <li class="header-item-title header-toggle "><a href="#menu"><h2><i class="fa fa-bars"></i></h2></a></li>
      <li class="header-item-title">
        <a href="{{site.url}}/">
          {% if site.logo %}
            <img  src="{{site.url}}/{{ site.logo }}" height="62" width="250" alt="{{ site.title }}">
          {% endif %}
         <!-- <a href="{{site.url}}/" class="title"> {{ site.title }}</a> -->
        </a>
      </li>
      {% for menu in site.menu reversed %}
        {% assign class = nil %}
        {% if ((page.url contains menu.url and menu.url != '/') or (page.url == '/index.html' and menu.url == '/')) %}
          {% assign class = 'active' %}
        {% endif %}

        {% if menu.type == 'categories' %}
          <li class="header-item {{class}} " style="text-align: center"><a href="{{site.url}}{{menu.url}}"><h3 style="text-align: center">{{ menu.title }}</h3></a>
            <ul class="header-submenu">
              {% for item in (0..site.categories.size) %}{% unless forloop.last %}
                {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                  <li class="sub-item"><a style="text-align: center"  href="{{site.url}}/categories/#{{this_word}}">{{this_word}}</a></li>
              {% endunless %}{% endfor %}
            </ul>
          </li>
        {% elsif menu.submenu %}
          <li class="header-item  {{class}}" style="text-align: center"><span><a href="{{site.url}}{{menu.url}}"><h3 style="line-height: 95%"> {{ menu.title }}</h3></a></span>
            <ul class="header-submenu">
              {% for sub in menu.submenu %}
                <li class="sub-item" style="text-align: center" ><a href="{{site.url}}{{sub.url}}">{{sub.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
            {% if menu.url contains 'http://' or menu.url contains 'https://' %}
                <li class="header-item {{class}}" style="text-align: center"><a href="{{menu.url}}" target="_blank"><h3 style="line-height: 95%">{{ menu.title }}</h3></a></li>
            {% else %}
                <li class="header-item {{class}}" style="text-align: center"><span><a href="{{site.url}}{{menu.url}}"><h3 style="line-height: 95%" >{{ menu.title }}</h3></a></span></li>
            {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
  </div>
<div class="entry-header" style="background: #e8e8e8 ;background:url(https://FakeRoy.github.io/images/test.jpg) ; background-size: 100%  100%"   >
  <div class="header-title">
    <div class="header-title-wrap" style="width: 180px;height: 90px" >
      <h1>{{ page.title }}</h1>
      {% if page.date %}
        <h2><span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></h2>
      {% else %}
        <h2><span class="entry-date"><time>&nbsp;</time></span></h2>
      {% endif %}

      {% if site.reading_time and page.layout == 'post' %}
<!--        <p class="entry-reading-time">-->
<!--          <i class="fa fa-clock-o"></i>-->
<!--          {% assign readtime = content | strip_html | number_of_words | divided_by:site.words_per_minute %}-->
<!--          Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}-->
<!--        </p>&lt;!&ndash; /.entry-reading-time &ndash;&gt;-->
      {% else %}
<!--          <p class="entry-reading-time">-->
<!--            &nbsp;-->
<!--          </p>&lt;!&ndash; /.entry-reading-time &ndash;&gt;-->
      {% endif %}
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->


<nav id="menu" style="display: none">
  <ul>
    {% for menu in site.menu %}
      {% if menu.type == 'categories' %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for item in (0..site.categories.size) %}{% unless forloop.last %}
              {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                <li><a href="{{site.url}}/categories/#{{this_word}}">{{this_word}}</a></li>
            {% endunless %}{% endfor %}
          </ul>
        </li>
      {% elsif menu.submenu %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for sub in menu.submenu %}
              <li><a href="{{site.url}}{{sub.url}}">{{sub.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>


