<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
    {% include head.html %}
</head>

<body id="post-index">

{% include browser-upgrade.html %}
{% include header.html %}


<header class="entry-header">
    <h1 class="entry-title">
        People         </h1>
</header>
<div id="content" class="clearfix">


    <article id="post-50" class="post-50 page type-page status-publish hentry">


        <header class="entry-header">
            <h1 class="entry-title">
                Daihu Ye        </h1>
        </header>

        <div class="entry-content clearfix">
            <table class="td" style="height: 169px;" border="0" width="1385" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>

                    <td align="justify" valign="top" height="210">Daihu Ye .....&nbsp;<a href="https://imag-njust.net/jspan/">[中文版]</a></td>
                </tr>
                </tbody>
            </table>
            <h2><strong>★&nbsp; </strong>Recent Publications</h2>
        </div>

        <div class="entry-footer">
        </div>

    </article>



</div>
<div class="footer-wrapper">
    <footer role="contentinfo">
        {% include footer.html %}
    </footer>
</div><!-- /.footer-wrapper -->
</body>
</html>